header,
footer,
article,
aside,
section,
hgroup,
nav {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    font-size: 14pt;
    font-weight: normal;
    font-family: monospace;
}


.main {
    background-color: white;
    width: 1015px;
    margin: auto;
    border: 1px solid black;
}


/*----------header----------*/

.logo {
    display: block;
    margin: 20px 0 20px 56px;
    font-weight: normal;
}


/*------------Main Menu--------------*/

.mainMenu ul {
    background-color: rgb(79, 78, 78);
    height: 45px;
    width: 90%;
    margin: auto;
}

.mainMenu ul li {
    display: inline-block;
    list-style-type: none;
}

.mainMenu a {
    display: block;
    height: inherit;
    width: 100px;
    float: left;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color: white;
    text-shadow: 0 2px 2px black;
    font-weight: normal;
    font-size: 12pt;
    transition: 0.5s;
}

.mainMenu a:nth-child(2),
.mainMenu a:hover {
    outline: 1px solid white;
    background-color: rgb(53, 53, 53);
}


/*------------content---------------*/

.content{
    overflow: hidden;
}

.sideBar {
    width: 15%;
    margin: 40px 0 0 58px;
    float: left;
}

.sideBar a {
    display: block;
    width: 180px;
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    text-decoration: none;
    font-size: 12pt;
    color: rgb(200, 200, 200);
    transition: 0.5s;
}

.sideBar a:hover {
    color: black;
    background-color: lightgray;
    padding: 10px 0 10px 20px;
}

.imgWrapper {
    width: 600px;
    float: left;
    margin: 40px 0 20px 107px;
    text-align: left;
}

.imgWrapper img {
    border: 1px solid rgb(200, 200, 200);
    height: 515px;
    margin-bottom: 20px;
}

.imgWrapper p{
    padding: 20px;
    font-size: 18px;
}

/*-----------footer--------------*/

footer {
    background-color: darkgray;
    width: 914px;
    margin: 40px auto;
    text-align: right;
    line-height: 45px;
    clear: both;
}

.footerMenu a {
    display: block;
    height: inherit;
    width: auto;
    height: 30px;
    margin-left: 40px;
    float: left;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color: darkslategray;
    font-weight: normal;
    font-size: 12pt;
    transition: 0.5s;
}

.footerMenu a:nth-child(2),
.footerMenu a:hover {
    border-bottom: 1px solid black;
}