header,
footer,
article,
aside,
section,
hgroup,
nav {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1 {
    padding-bottom: 10px;
}

body {
    background: url(../img/bodyBackground.jpg) repeat-x;
    background-color: #0c739f;
}

.main {
    width: 998px;
    margin: auto;
    overflow: hidden;
}


/*----------header------------*/

header {
    color: #0c739f;
    background: white;
    overflow: hidden;
}

.logo {
    float: left;
    position: relative;
    top: 48px;
}

.logo p {
    position: absolute;
    top: 97px;
    left: 58px;
}

.right {
    float: right;
    padding: 10px 30px;
    margin-bottom: 20px;
}

.contacts {
    float: right;
    text-align: right;
    margin-bottom: 40px;
}

.contacts span {
    display: block;
}

.contacts span:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.country {
    float: right;
    font-size: 11px;
    text-align: center;
    clear: both;
}

.country li {
    list-style-type: none;
    display: inline-block;
    width: auto;
}

.country p {
    text-decoration: underline;
}


/*---------------slider------------------*/

.slider {
    clear: both;
    height: 240px;
    width: 1000px;
}


/*-----------------mainMenu----------------------*/

.mainMenu {
    background: #333333;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.mainMenu::after {
    content: "";
    display: block;
    clear: both;
}

.mainMenu>ul>li {
    list-style-type: none;
    float: left;
}

.mainMenu>ul>li>a {
    display: block;
    padding: 0 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}

.mainMenu li>ul {
    position: absolute;
    top: 31px;
    left: 0;
    width: 100%;
    background: #333333;
    overflow: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.5s;
}

.mainMenu li:hover ul {
    height: 220px;
}

.mainMenu li ul li a {
    display: block;
    margin-left: -1px;
    text-decoration: none;
    padding: 10px;
    width: 110px;
    color: white;
}

.arrow {
    position: relative;
}

li.arrow > a::before {
    content: "";
    display: block;
    background: url("../img/arrow.png") no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
}


/*-------------------content------------------------*/

.content {
    overflow: hidden;
    background: white;
}

.info {
    float: left;
    text-align: center;
    border-right: 1px solid gray;
    padding: 15px;
    background: #edeef0;
    height: 620px;
}

.news {
    float: right;
    text-align: center;
    border-left: 1px solid gray;
    padding: 15px;
    background: #edeef0;
}

.info ul li,
.news ul li {
    padding-bottom: 10px;
}

.center {
    width: 545px;
    background: white;
}


/*--------------------footer-------------------------*/

footer {
    clear: both;
    text-align: center;
    padding: 5px;
    color: white;
}